img{
    border-radius:20px;
}

table td{
    padding:10px
}
input{
    background-color:#8c7060;
    border: 2px solid #64483f;
    border-radius:5px;
}
::placeholder{
    color:#64483f;
}
.docsIcon:hover{
    color:#508cec;
    transform: scale(1.2);
    transition: transform .2s;
}
.commitsIcon:hover{
    color:#2cc420;
    transform: scale(1.2);
    transition: transform .2s;
}
.scrumboardIcon:hover{
    color:#3f3f3f;
    transform: scale(1.2);
    transition: transform .2s;
}
.githubIcon:hover{
    transform: scale(1.2);
    transition: transform .2s;
}