{% extends "layouts/base.html" %}
<!DOCTYPE html>
<html lang="en">
{% block body %}

<div id="page-container" class="green-theme">
<div class="theme-toggle">
    <button onclick="theme()">Change Theme</button>
</div>
<h1 style="text-align:center;text-transform: uppercase; font-size: 50px;">
Course Recommendations</h1>
<section class="smb-container">
<h3> About You: </h3>
<form>
    <label for="gpa">What is your GPA</label>
    <input name="gpa" id="gpa">
    <select name="goal" id="goal">
      <option value="Physics">Physics</option>
      <option value="Biology">Biology</option>
      <option value="Medicine">Medicine</option>
      <option value="STEM">STEM</option>
      <option value="Literature">Literature</option>
    </select>
    <input type="submit">
</form>
</section>
<section class="smb-container">
</section>
</div>
<script>
    var stored = localStorage.getItem("theme");
    var current = document.getElementById("page-container").classList[0];
    document.getElementById("page-container").classList.remove(current);
    document.getElementById("page-container").classList.add(stored)
</script>

    <script>
        function changePic() {
            if (document.getElementById("mask").style.display == "block") {
                document.getElementById("nomask").style.display = "block";
                document.getElementById("mask").style.display = "none";
                document.getElementById("toggler").innerText = "put mask back on pls"
            } else {
                document.getElementById("nomask").style.display = "none";
                document.getElementById("mask").style.display = "block";
                document.getElementById("toggler").innerText = "no mask"

            }
        }
        function theme() {
               var themes = ["purple","green","light","blue","dark"]
               var theme = document.getElementById("page-container").classList[0];
               var generated = themes[Math.floor(Math.random() * themes.length)];
               var new_theme = generated + "-theme"
               while (new_theme == theme) {
                   var generated = themes[Math.floor(Math.random() * themes.length)];
                   var new_theme = generated + "-theme"
               }
               document.getElementById("page-container").classList.remove(theme);
               document.getElementById("page-container").classList.add(new_theme);
               localStorage.setItem("theme",new_theme);
               document.getElementById("current").innerText = generated;
        }
    </script>
    <style>
        #page-container {
            margin-left: 200px;
            position: relative;
            background-color: var(--bg-color);
            color: var(--main-color)

        }
        .theme-toggle {
            position: absolute;
            top: 0;
            right:0;
            text-align: center;
        }
    </style>

{% endblock %}
</html>
