{% extends "layouts/base.html" %}
<!DOCTYPE html>
<html lang="en">
{% set project = "Practice MCQ" %}
<head>
    <script>
//         Credit: https://techwelkin.com/randomize-html-list-display-html-list-items-randomly#:~:text=If%20you%20want%20to%20randomly,of%20the%20BODY%20tag%20occurs.
    </script>
</head>
{% block body %}

<div id="page-container" class="green-theme">
<div class="theme-toggle">
    <button onclick="theme()">Change Theme</button>
</div>
<h1 style="text-align:center;text-transform: uppercase">
Sanjay Bharadwaj
</h1>
<section class="smb-container quiz">
{% for x in range(questions|length) %}
<div class="question">
<p>{{questions[x]['question']}}</p>
<ul id="questionsContainer{{x}}" class="questionsContainer">
    <li id="q0{{x}}container" class="qContainer">
    <input type="radio" id="q0{{x}}" class="correctAnswer" name="q{{x}}" value="{{questions[x]['correctAnswer']}}">
    <label for="q0{{x}}">{{questions[x]['correctAnswer']}}</label>
    </li>

    <li id="q1{{x}}container" class="qContainer">
    <input type="radio" id="q1{{x}}" name="q{{x}}" value="{{questions[x]['incorrectAnswers'][0]}}">
    <label for="q1{{x}}">{{questions[x]['incorrectAnswers'][0]}}</label>
    </li>

    <li id="q2{{x}}container" class="qContainer">
    <input type="radio" id="q2{{x}}" name="q{{x}}" value="{{questions[x]['incorrectAnswers'][1]}}">
    <label for="q2{{x}}">{{questions[x]['incorrectAnswers'][1]}}</label>
    </li>

    <li id="q3{{x}}container" class="qContainer">
    <input type="radio" id="q3{{x}}" name="q{{x}}" value="{{questions[x]['incorrectAnswers'][2]}}">
    <label for="q3{{x}}">{{questions[x]['incorrectAnswers'][2]}}</label>
    </li>

</ul>
<p id="ans{{x}}"></p>
</div>
{% endfor %}
<div id="end-buttons">
<button class="btn" onclick="checkQuiz()" > Submit Quiz </button>
<a href="/mcq/" class="btn">Next Quiz</a>
</div>
</section>
<section class="smb-container">
</section>
</div>
<script>
    var stored = localStorage.getItem("theme");
    var current = document.getElementById("page-container").classList[0];
    document.getElementById("page-container").classList.remove(current);
    document.getElementById("page-container").classList.add(stored);
    function randomizeItems(items)
    {
        var cached = items.slice(0), temp, i = cached.length, rand;
        while(--i)
        {
            rand = Math.floor(i * Math.random());
            temp = cached[rand];
            cached[rand] = cached[i];
            cached[i] = temp;
        }
        return cached;
    }
    function randomizeList(id)
    {
    var list = document.getElementById(id);
        var nodes = list.children, i = 0;
        nodes = Array.prototype.slice.call(nodes);
        nodes = randomizeItems(nodes);
        while(i < nodes.length)
        {
            list.appendChild(nodes[i]);
            ++i;
        }
    list.style.display="block";
    }
    for (let i = 0; i<10;i++) {
        randomizeList("questionsContainer"+i)
    }
    for (let i=0;i<10;i++) {
        for (let x=0;x<4;x++) {
            document.getElementById("q"+x+i).addEventListener("click", function(){
                console.log("element " + x + i + " has been clicked on");
                document.getElementById("q"+x+i+"container").style.backgroundColor = "var(--tertiary-color)";
                for (let x=0;x<4;x++) {
                    if (document.getElementById("q"+x+i).checked == false) {
                        document.getElementById("q"+x+i+"container").style.backgroundColor = "transparent";
                    }
                }
                console.log(document.getElementById("q"+x+i+"container"))
            })
        }
    }
</script>

    <script>
        function changePic() {
            if (document.getElementById("mask").style.display == "block") {
                document.getElementById("nomask").style.display = "block";
                document.getElementById("mask").style.display = "none";
                document.getElementById("toggler").innerText = "put mask back on pls"
            } else {
                document.getElementById("nomask").style.display = "none";
                document.getElementById("mask").style.display = "block";
                document.getElementById("toggler").innerText = "no mask"

            }
        }
        function theme() {
               var themes = ["purple","green","light","blue","dark"]
               var theme = document.getElementById("page-container").classList[0];
               var generated = themes[Math.floor(Math.random() * themes.length)];
               var new_theme = generated + "-theme"
               while (new_theme == theme) {
                   var generated = themes[Math.floor(Math.random() * themes.length)];
                   var new_theme = generated + "-theme"
               }
               document.getElementById("page-container").classList.remove(theme);
               document.getElementById("page-container").classList.add(new_theme);
               localStorage.setItem("theme",new_theme);
               document.getElementById("current").innerText = generated;
        }
        function checkQuiz() {
            for (let i = 0; i<10;i++) {
                var q = document.getElementsByName("q"+i);
                for (let x = 0; x<q.length;x++) {
                    if (q[x].checked) {
                        if (q[x].classList.contains("correctAnswer")) {
                            document.getElementById("ans"+i).innerText = "Congratulations, this is the correct answer!"
                            document.getElementById("ans"+i).style.color = "green";
                            document.getElementById(q[x].id+"container").style.backgroundColor = "green";
                        } else {
                            document.getElementById("ans"+i).innerText = "Sorry, that is not the correct answer. The correct answer is " + document.getElementsByClassName("correctAnswer")[i].value + "."
                            document.getElementById("ans"+i).style.color = "red"
                            document.getElementById(q[x].id+"container").style.backgroundColor = "red";
                        }
                    }
                }
            }

        }

    </script>
    <style>
        #page-container {
            margin-left: 200px;
            position: relative;
            background-color: var(--bg-color);
            color: var(--main-color);
            min-height: 100vh;
        }
        .theme-toggle {
            position: absolute;
            top: 0;
            right:0;
            text-align: center;
        }
        .smb-container {
            margin: 0 auto;
            width: 50%;
        }
        .questionsContainer {
            list-style-type: none;
            padding: 0;
        }
        .question {
            background-color: var(--main-color);
            color: var(--secondary-color);
            padding: 2em;
            margin: 20px 0;
        }
        .qContainer {
            padding: 1em;
            margin: 5px 0;
        }
        input[type="radio"] {
            display: none;
        }
        #end-buttons {
            display: flex;
            justify-content: space-between;
        }
    </style>

{% endblock %}
</html>
